.about {
  padding: 80px 20px;

  @media only screen and (min-width: 1200px) {
    padding: 80px 5%;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;

    @media only screen and (min-width: 1024px) {
      flex-direction: row;
    }

    .image {
      position: relative;
      border: 2px solid $text-color;
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
      transition: all 1s ease-in-out;
      flex: 1;
      width: 100%;
      max-width: 400px;
      overflow: hidden;
      animation: morph 8s ease-in-out infinite;

      &::before {
        content: '';
        display: block;
        padding-top: 133.33%;
      }

      @keyframes morph {
        0%,
        100% {
          border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
        }
        
        50% {
          border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
        }
      }
    }

    .text {
      flex: 1;
      text-align: center;

      @media only screen and (min-width: 1024px) {
        text-align: left;
      }

      h2 {
        text-transform: uppercase;
        color: $title-color;
        font-size: 20px;
        margin-bottom: 10px;
      }

      h3 {
        font-size: 26px;
        margin: 10px 0;
      }
    }
  }
}
