.contact {
  padding: 80px 20px;

  @media only screen and (min-width: 1200px) {
    padding: 80px 5%;
  }

  .container {
    text-align: center;

    @media only screen and (min-width: 768px) {
      text-align: left;
    }

    .text {
      margin-bottom: 50px;

      h3 {
        text-transform: uppercase;
        color: $title-color;
        margin-bottom: 10px;
      }

      h1 {
        font-size: 26px;
      }
    }

    .contact-details {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 50px;

      @media only screen and (min-width: 768px) {
        flex-direction: row;
      }

      .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @media only screen and (min-width: 768px) {
          flex-direction: row;
        }

        .image {
          margin-bottom: 20px;
          width: 70px;
          height: 70px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          box-shadow: 0 0 10px rgba(0,0,0,.1);
          background-color: #fff;
          color: $title-color;

          @media only screen and (min-width: 768px) {
            margin-bottom: 0;
            margin-right: 20px;
          }
        }
      }
    }
  }
}
